<div class="form-popup-changeUserInfo" id="changeUserInfoForm">
    <form id="changeUserInfo" action="/main/changeUserInfo" class="form-container-changeUserInfo" method="POST">
        <section id="popup-left-changeUserInfo">
            <button type="button" class="changeUserInfo_send_btn cancel" id="closeBtn_left_changeUserInfo" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 id="pop_up_header_changeUserInfo">EDIT PROFILE</h2>

            <div class="inputs_style">
                <div><label for="field_FirstName">Firstname</label>
                    <br><input id="field_FirstName" class="smallInput" type="text" name="firstName"
                        placeholder="First name" maxlength="50">
                </div>

                <div>
                    <label for="field_LastName">Lastname</label>
                    <br><input id="field_LastName" class="smallInput" type="text" name="lastName"
                        placeholder="Last name" maxlength="50">
                </div>

                <div>
                    <label for="field_Age">Age</label>
                    <br><input id="field_Age" class="smallInput" type="text" name="age" placeholder="Age" maxlength="2">
                </div>
            </div>

<div class="inputs_style">
            <div>
                <label for="field_Height">Height</label>
                <br><input id="field_Height" class="smallInput" type="text" name="height" placeholder="Height"
                    maxlength="3">
            </div>

            <div>
                <label for="field_Weight">Weight</label>
                <br><input id="field_Weight" class="smallInput" type="text" name="weight" placeholder="Weight"
                    maxlength="3">
            </div>
</div>
<div class="inputs_style">
            <div>
                <label for="field_Phonenumber">Phonenumber</label>
                <br><input id="field_Phonenumber" class="smallInput" type="text" name="phonenumber"
                    placeholder="Phonenumber" maxlength="40">
            </div>
            <div>
                <label for="field_Email">Email</label>
                <br><input id="field_Email" class="smallInput" type="email" name="email" placeholder="Email"
                    maxlength="50">
            </div>

            <div><label for="field_Password_Changeuserinfo">Password</label>
                <br><input  id="field_Password_Changeuserinfo" class="smallInput input_margin" type="password" name="password"
                    placeholder="Password" required>
            </div>
</div>

            <button type="button" onclick="validatePassword()" class="changeUserInfo_send_btn">Update</button>

        </section>
        <section id="popup-right-changeUserInfo">
            <button type="button" class="changeUserInfo_send_btn cancel" id="closeBtn_right_changeUserInfo" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 class="fl_name">{{firstName}}</h2>
            <h2 class="fl_name">{{lastName}}</h2>
            <img title="Profile image" class="userimg" src="assets/img/user.png" alt="This is an image the user."> 
            <!-- Userimage source: Pixabay, Raphael Silva. https://pixabay.com/fi/users/raphaelsilva-4702998/ -->
            <div class="profile_details_box_popup">
                <ul>
                    <li><b>Age: </b> <span id="age">{{age}}</span> years</li><br>
                    <li><b>Height: </b> <span id="height">{{height}}</span> cm</li><br>
                    <li><b>Weight: </b><span id="weight">{{weight}}</span> kg</li><br>
                    <li><b>BMI: </b><span id="bmi">{{bmi}}</span></li><br>
                    <li><b>General health: </b><span id="general_health">Not available</span></li><br>
                    <li><b>Medications: </b><span id="medications">Not available</span></li><br>
                    <li><b>Sleep apnea: </b><span id="bmi">Not available</span></li>
                </ul>
            </div>
        </section>
    </form>
</div>