<div class="form-popup-changeUserInfo" id="changeUserInfoForm">
    <form id="changeUserInfo" action="/main/changeUserInfo" class="form-container-changeUserInfo" method="POST">
        <section id="popup-left-changeUserInfo">
            <h2 id="pop_up_header_changeUserInfo">CHANGE USER INFO</h2>
            <h5 class="">Firstname</h5>
            <input id="field_FirstName" class="smallInput" type="text" name="firstName" placeholder="First name" maxlength="50">
            <h5 class="">Lastname</h5>
            <input id="field_LastName" class="smallInput" type="text" name="lastName" placeholder="Last name" maxlength="50">
            <h5 class="">Height</h5>
            <input id="field_Height" class="smallInput" type="text" name="height" placeholder="Height" maxlength="4">
            <h5 class="">Weight</h5>
            <input id="field_Weight"  class="smallInput" type="text" name="weight" placeholder="Weight" maxlength="3">
            <h5 class="">Age</h5>
            <input id="field_Age" class="smallInput" type="text" name="age" placeholder="Age" maxlength="3">
            <h5 class="">Phonenumber</h5>
            <input id="field_Phonenumber" class="smallInput" type="text" name="phonenumber" placeholder="Phonenumber" maxlength="40">
            <h5 class="">Email</h5>
            <input id="field_Email" class="smallInput" type="text" name="email" placeholder="Email" maxlength="50">
            <h5 class="">Password</h5>
            <input class="smallInput" type="text" name="password" placeholder="Password" required>

            <button form="changeUserInfo" type="submit" class="changeUserInfo_send_btn">Update</button>
        </section>
        <section id="popup-right-changeUserInfo">
            <button type="button" class="changeUserInfo_send_btn cancel" onclick="closeForm()"
                aria-hidden="true">&times;</button>
            <h2 class="fl_name">{{firstName}}</h2>
            <h2 class="fl_name">{{lastName}}</h2>
        <img class="userimg" src="assets/img/user.png" alt="This is an image the user.">    
        <div class="profile_details_box">
            <ul>
                <li><b>Height: </b> <span id="height">{{height}}</span> cm</li><br>
                <li><b>Weight: </b><span id="weight">{{weight}}</span> kg</li><br>
                <li><b>BMI= </b><span id="bmi">{{bmi}}</span></li><br>
                <li><b>General health: </b><span id="general_health">Not available</span></li><br>
                <li><b>Medications: </b><span id="medications">Not available</span></li><br>
                <li><b>Sleep apnea: </b><span id="bmi">Not available</span></li>
            </ul>
        </div>
         </section>
    </form>
</div>